<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="referrer" content="no-referrer" />
  <title>Login</title>
</head>
<body>
<div id="login">
  <h1>Login</h1>
 <span>nihao </span>
</div>
<a th:href="@{/book/getBookList}">退出</a>
<!--<form th:action="@{/book/login}" method="post">-->
<!--    用戶名：<input type="text" name="username"/>-->
<!--    <br>-->
<!--    密碼: <input type="text" name="password">-->
<!--    <br>-->
<!--    <input type="checkbox" name="remember-me">自動登錄-->
<!--    <input type="submit" value="login">-->
<!--</form>-->
</body>
</html>